<% include ./partials/header %>
<div class='top'>
    <div class='container'>
        <div class='centered'>
            <h1 class='white helvetica'>producTIV</h1>
            <h4 class='white helvetica'>An application to help increase your productivity!</h4>
            <a href='/login' class='btn btn-primary'>Get Started</a>
        </div>
    </div>
</div>

<div class='middle white'>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <h4>APP FEATURE 1</h4>
            </div>            
            <div class='col'>
                <h4>APP FEATURE 2</h4>
            </div>
        </div>        
        <div class='row'>
            <div class='col'>
                <h4>APP FEATURE 3</h4>
            </div>            
            <div class='col'>
                <h4>APP FEATURE 4</h4>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>