<% include ./partials/header %>
<div class='top'>
<div class='container'>
    <div class='centered'>
        <h1 class='white helvetica'>producTIV</h1>
        <h4 class='white helvetica'>An application to help increase your productivity!</h4>
        <a href='/login' class='btn btn-primary'>Get Started</a>
    </div>
</div>
</div>

<div class='container'>
    <div class='centered white'>
        <div class='row'>
            <div class='col landingFeature'>
                <h4>Create Your Own Account</h4>
            </div>            
            <div class='col landingFeature'>
                <h4>Create Your Own Task Lists</h4>
            </div>
        </div>        
        <div class='row'>
            <div class='col landingFeature'>
                <h4>Earn Points As You Complete Tasks</h4>
            </div>            
            <div class='col landingFeature'>
                <h4>Track Your Performance</h4>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>