<% include ./partials/header %>

<h4 class='white'><%= currentUser.username %></h4>
<h4 class='white'><%= currentUser._id %></h4>
<h4 class='white'><%= currentUser.points %></h4>

<% include ./partials/footer %>