@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 


.timesNewRoman {
    font-family: 'Times New Roman';
}

.underlined {
    text-decoration: underline;
}

h1 {
    text-align: center;
    line-height: 100px;
    width: 100%;
}

.helvetica {
    font-family: 'helvetica';
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.white {
    color: white;
}


.top {
    text-align: center;
    height: 300px;
}

.top h1 {
    font-size: 48px;
    padding-top: 75px;
}


.inputForm {
    width: 40%; 
    margin: 25px auto;
}

body {
    background-color: #1a1a1d;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #343a40;
    height: 50px;
    line-height: 20px;
}

.middle {
    background-color: #343a40;
    text-align: center;
    width: 100%;
    
}

#newTaskForm {
    display: none;
}

.list {
	width: 768px;
	margin: 0 auto;
}

.task {
	width: 100%;
	list-style: none ;
	line-height: 60px;
	font-size: 20px;
	padding: 20px;
	transition: all .3s ease;
	border-radius: 20px;
}

form {
    display: inline;
}

.task h5 {
    margin-right: -50px;
}

.task:hover {
	background: rgba(33, 37, 41, 0.5);
	cursor: pointer;
}

@media(max-width: 768px) {
    .list {
        width: 100%;
    }

    .task {
        width: 100%;
    }
    
    body .right {
        float: none;
        margin-top: 0px;
    }
    
    body .inputForm {
        width: 85%;
    }

    
    #performance {
        width: 768px;
    }
}

.right {
    margin-top: -78px;
    float: right;
}


.done {
	font-weight: bold;
}

.jumbotron {
    margin-top: 30px;
    background-color: #343a40!important;
}

.profileHeadingLeft {
    float: left;
}

.profileHeadingRight {
    float: right;
}

.landingFeature {
    height: 200px;
    /*width: 35%;*/
    border-radius: 10px;
    border: 2px solid #343a40;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana;
    font-weight: bold;
}

#performance {
    border: 2px solid #343a40;
    border-radius: 10px;
    width: 90%;
}

#currentPoints {
    float:right;
    font-size: 100px;
    line-height: 40px;
    margin-top: -20px;
    /*margin-left: -150px;*/
}

#currentTasks {
    float:right;
    font-size: 100px;
    line-height: 40px;
    margin-top: 20px;
    /*padding-bottom: -10px;*/
}

#achievements {
    border: 2px solid #343a40;
    margin-top: 10px;
    border-radius: 10px;
    width: 90%;
}

